<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>853778555024-ddnsa532mlqd5k9nhngnpv0fo2j9clre.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.853778555024-ddnsa532mlqd5k9nhngnpv0fo2j9clre</string>
	<key>API_KEY</key>
	<string>AIzaSyBF6CffFGk6PHy_uN-cmBNRwcg8OxeB4hY</string>
	<key>GCM_SENDER_ID</key>
	<string>853778555024</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newsly.newsly</string>
	<key>PROJECT_ID</key>
	<string>newsly-app-1764-test</string>
	<key>STORAGE_BUCKET</key>
	<string>newsly-app-1764-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:853778555024:ios:a4bd9cd93339335f66f815</string>
</dict>
</plist>
